<form [formGroup]="newUsu" >

  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Crear Usuario</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre"  name="nombre" formControlName="nombre" [(ngModel)]="this.usuarios.usu.nombre">
            <mat-error *ngIf="newUsu.controls['nombre'].hasError('required')">
              nombre <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="RazaMascota" formControlName="mascota" [(ngModel)]="this.usuarios.usu.mascota">

          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Direccion" formControlName="direccion" [(ngModel)]="this.usuarios.usu.direccion" ></textarea>

          </mat-form-field>
        </div>
      </div>
       <div class="row" *ngIf="!usuarios.hasUnitNumber">
         <div class="col">
          <button class="text-wrap" mat-button color="primary" type="button" (click)="hasUnitNumber = !hasUnitNumber">
            Click aqui para agregar Casa o Apartemento #
          </button>
        </div>
      </div>

      <div class="row" *ngIf="hasUnitNumber">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Casa o apartamento #" formControlName="usuarios.usu.direccion"></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Telefono" formControlName="telefono" [(ngModel)]="this.usuarios.usu.telefono" >
            <mat-error *ngIf="newUsu.controls['telefono'].hasError('required')">
              telefono <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="  Escoje tu ciudad" formControlName="ciudad" >
              <mat-option  *ngFor="let ciu of ciudad" [value]="ciu.name" >
                {{ciu.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="newUsu.controls['ciudad'].hasError('required')">
              La ciudad es es un campo obligatorio <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-radio-group formControlName="rol">
            <mat-radio-button value="cliente">Cliente</mat-radio-button>
            <mat-radio-button value="peluquero">Peluquero</mat-radio-button>
            <mat-radio-button value="cajero">cajero</mat-radio-button>
            <mat-radio-button value="entrenador">Entrenador</mat-radio-button>
            <mat-radio-button value="vendedor">Vendedor</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="container text-center">
      <button mat-raised-button color="warn"  (click)="guardar()" >  <mat-icon>edit</mat-icon> Editar Usuario</button>

      <button mat-raised-button color="primary"  (click)="create()" >  <mat-icon>person_add</mat-icon> Crear Usuario</button>
    </mat-card-actions>
  </mat-card>
</form>

