

<ul class="sidebar-menu tree" data-widget="tree">
  <li class="header">Gestion Clientes y productos</li>

  <li class="treeview">
<button mat-button color='primary' [matMenuTriggerFor]="aboveMenu">Gestion Clientes</button>
<mat-menu #aboveMenu="matMenu" Position="above">
    <ul mat-menu-item class="treeview-menu">
      <li>
        <a routerLink="/adminWorkingDog/crearUsuario"><i class="fa fa-circle-o"></i>
          Crear</a>
      </li>
      <li>
        <a routerLink="/adminWorkingDog/listaUsuarios">
          <i class="fa fa-circle-o"></i>
          Listar</a>
      </li>
    </ul>
</mat-menu>

  </li>
  <li class="treeview">
    <a href="#">
      <i class="fa fa-list"></i>
      <span>Gestion Productos</span>
    </a>
    <ul class="treeview-menu">
      <li>
        <a routerLink="/adminWorkingDog/CrearProductos"><i class="fa
            fa-circle-o"></i> Crear</a>
      </li>
      <li>
        <a routerLink="/adminWorkingDog/listaProductos"><i class="fa
            fa-circle-o"></i> Listar</a>
      </li>
    </ul>
  </li>
</ul>
<!-- /menu de reportes y compras -->
<ul class="sidebar-menu tree" data-widget="tree">
  <li class="header">Servicios En curso</li>

  <li class="treeview">
    <a href="#">
      <i class="fa fa-angle-double-down"></i>
      <span>Servicios en curso </span>
    </a>
    <ul class="treeview-menu">
      <li>
        <a routerLink="/adminWorkingDog/nuevoServicio"><i class="fa
            fa-circle-o"></i> Nuevo servicio</a>
      </li>
      <li>
        <a routerLink="/adminWorkingDog/listaServicios"><i class="fa
            fa-circle-o"></i> Lista Servicios</a>
      </li>
    </ul>
  </li>
</ul>

<ul class="sidebar-menu tree" data-widget="tree">
  <li class="header">Adiestramiento</li>

  <li class="treeview">
    <a href="#">
      <i class="fas fa-dog"></i>
      <span>Adiestramientos </span>
    </a>
    <ul class="treeview-menu">
      <li>
        <a><i class="fa fa-circle-o"></i> tienda</a>
      </li>
      <li>
        <a><i class="fa fa-circle-o"></i> Lista de Compras</a>
      </li>
    </ul>
  </li>
</ul>
