
<header>


  <div id="cabecera" class="container d-flex w-100  justify-content-between p-2  " style=" top:-0%; z-index: 1">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 d-flex ">


        <a href="login.html"><i class="fa fa-user-o fa-1x" style="float: right; "></i>
          Iniciar sesion</a>
        <a href="Resgistrarse.html" style="margin-left: 10%;">
          Registrarse</a>

      </div>


    </div>




  </div>

  <div id="cabecera" class="container  w-100    p-2  m-2 justify-content-md-end Header" style="top:13%; z-index: 1">
    <div class="row">
    <div class="col">
      <ul class="d-flex nave p-0 m-0" style="width:50%; ">
        <li>
          <a href="https://api.whatsapp.com/send?phone=+57 3186956700&text=Hola vi un anuncio en tu pagina web quiero saber costos de sus servicios">Adiestramiento </a>



        </li>

        <li>
          <a href="https://api.whatsapp.com/send?phone=+57 3186956700&text=Hola vi un anuncio en tu pagina web quiero saber costos de sus servicios">Baños </a>

        </li>
      </ul>
    </div>
    </div>
    </div>
</header>

