<section id="servicios" class="services">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2 class="text-center bold">SERVICIOS</h2>
      <p class="text-center">Contamos con todos los servicios para tu mascota y lo mejor siempre al mejor precio del mercado .</p>
    </div>

    <div class="row">
      <div class="col-lg-6 order-2 order-lg-1">
        <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up">

          <mat-icon > pets</mat-icon>
          <h4>
            Adiestramiento Canino

          </h4>
          <p>Creamos y inovamos la manera de entrenar a tu mascota servicio totalmente a domicilio virtual y presencial </p>
        </div>
        <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="100">
          <mat-icon> shopping_bag </mat-icon>
          <h4>TIENDA</h4>
          <p>Tambien vendemos productos para tu mascota aqui podras encontrar todo lo que necesitas para el cuidado de tus mejores amigos.</p>
        </div>
        <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="200">
        <mat-icon>shower</mat-icon>
          <h4>Peluqueria </h4>
          <p>Somos EXPERTOS en el cuidado de tu mascota , servicio de calidad con profesionales en el grooming canino  .</p>
        </div>
        <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="300">
          <mat-icon>
            airline_seat_individual_suite
            </mat-icon>

          <h4>Guarderia Canina </h4>
          <p>¿ Te vas de viaje ?</p>
          <p> Cuidamos a tu mascota como en casa y por un valor muy justo guarderia para perros </p>
        </div>
      </div>
      <div class="image col-lg-6 order-1 order-lg-2" style='background-image: url("assets/images/cachorro rotwailer.jpg"); border-radius: 50%;' data-aos="fade-left" data-aos-delay="100"></div>
    </div>

  </div>
</section>
<hr class="divider">
