
body {
  background-color: #ffffff;
  font-size: 12px;
  font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
  color: #000000;
  margin: 10px;
}

h1 {
  font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
  border-bottom: 1px solid #AFAFAF;
  font-size:  16px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  color: #D20005;
}


.redondo{
	background: #00ACC1;
    height: 135px;
    width: 140px;
    margin: auto;
    -webkit-box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.75);
    color: #fff;
}

.redondo:hover{
	background: #26C6DA;
	color: #777777;
	cursor: pointer;
	transition: 1s;
}

.redondo i{
	padding: 15px;
	margin-top: 10px;
}


.imagenInformador{
  border-radius: 50%;
  height: 350px;
  max-width: 100%;
  filter: opacity(.5);
  -webkit-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.75);
}

.imagenInformador:hover {
  filter: opacity(1);
  transition: 1s;
}



.marketing .col-lg-4 {
	margin-bottom: 1.5rem;
	text-align: center;
}
.marketing h2 {
	font-weight: 400;
	margin-top: 25px;
}
.marketing .col-lg-4 p {
	margin-right: .75rem;
	margin-left: .75rem;
}

.carousel {
	margin-bottom: 4rem;
}

.carousel-caption {
	bottom: 3rem;
	z-index: 10;
}

.carousel-item {
	height: 32rem;
	background-color: #777;
}
.carousel-item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 32rem;
}

